.root {
    -fx-background-color: #1b1d1e;
}

.label {
    -fx-text-fill: #c0bfbd;
}

.Separator {
    -fx-border-color: #c0bfbd;
}

.neutral-header-color, .neutral-content-color {
    -fx-background-color: #25282a;
}

.no-border-color {
    -fx-border-color: transparent;
}

.neutral-border-color {
    -fx-border-color: #353a3d;
}

.disabled-header-color {
    -fx-background-color: #2c3032;
}

.disabled-content-color {
    -fx-background-color: #222426;
}

.accented-header-color {
    -fx-background-color: #970e0e;
}

.accent-border-color {
    -fx-border-color: #970e0e;
}

.transparent-content-color {
    -fx-background-color: transparent;
}

.component-border {
    -fx-border-color: #383d40;
}